:root {
	/* Dark Theme Colors */
	--background-color: #0d0d0d;
	--primary-color: #1f1f1f;
	--secondary-color: #00ffc3; /* Neon Mint */
	--tertiary-color: #999;
	--text-color: #ffffff;
	--accent-color: #ff00ff; /* Neon Pink for highlights */
	--card-bg: #1a1a1a;
	--card-hover: #2e2e2e;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transition: background 0.3s, color 0.3s;
}
